__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

pip-log.txt
pip-delete-this-directory.txt

.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

.pybuilder/

.ipynb_checkpoints

.python-version

venv/
env/
.venv/

.vscode/
.idea/

.DS_Store
Thumbs.db

.streamlit/

model/
